.app-body {
    height: 100%;
    background-color: #D9E5FC;
    /* display: flex; */
}

Img {
    width: 40%;
    margin-left: 7%;
    float: left;
    border: 4px solid #B2CCFD;


}

.underlay{
    width: 48%;
    margin-left: 27%;
    border: 4px solid #B2CCFD;
    
}

.modelScores{
    width: 80%;
    border: 4px solid #B2CCFD;
    margin-left: 10%;

}

