.app-header {
    height: 100px;
    line-height: 100px;
    background-color: #B2CCFD;
    border-bottom: 4px solid #9ABDFF;
    margin-bottom: -47px;
}

.app-header .app-header--title {
    font-size: 30px;
    text-align: center;
    color: #5D626C;

}