body {
    font-family: serif;
}
h6 {
    padding: 20px 10px;
    font-size: 20px;
    color:#5D626C;
    font-weight: lighter;
    margin-left: 1%;
    margin-bottom: 0;
}
h5 {
    padding: 20px 10px;
    font-size: 18px;
    color: #2F2F2F;
    /* clear: both; */
}

P{
    color: #000000;
}
